/* Common styles for all screen sizes */
body {
  margin: 0; /* Remove default body margin */
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 25px;
  font-size: 14px;
  text-align: center;
  background-color: #722ed1;
  color: white;
}

/* Rest of your CSS code... */

/* Common styles for all screen sizes */
.abc {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 25px;
    font-size: 14px;
    text-align: center;
    background-color: #722ed1;
    color: white;
}

.jobs {
    float: left;
    margin-left: 300px;
}

.jobs span {
    margin-right: 10px;
}

.social {
    display: inline;
    color: white;
    list-style: none;
    margin-right: 10px;
}

.social ul {
    margin: 0;
    padding: 100px;
    display: inline;
    list-style-type: none;
    color: white;
}

.social ul li {
  text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.social ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.lang {
    margin-right: 300px;
    float: right;
}

.lang span {
    margin-right: 10px;
}

/* Responsive adjustments for 2560px screen */
@media (min-width: 2560px) {
    .jobs {
        margin-left: 500px;
    }

    .lang {
        margin-right: 500px;
    }
}

/* Responsive styles for 1440px screen width */
@media (max-width: 1440px) {
    .jobs {
      margin-left: 200px;
    }
  
    .lang {
      margin-right: 200px;
    }
  }

  /* Responsive styles for 1024px screen width */
@media only screen and (max-width: 1024px) {
    .abc{
        height: 85px;
        font-size: 14px;
    }
    .jobs,
    .lang {
      float: none;
      margin-left: 0;
      margin-right: 0;
      padding: 10px;
    }
  
    .social ul {
      padding: 0;
    }
  }

/* Responsive styles for 768px screen width */
@media only screen and (max-width: 768px) {
    .abc{
        height: 85px;
        font-size: 13px;
    }
    .jobs,
    .lang {
      float: none;
      margin-left: 0;
      margin-right: 0;
      padding: 10px;
    }
  
    .social ul {
      padding: 0;
    }
  }

  /* Responsive styles for 425px screen width */
@media only screen and (max-width: 425px) {
    .abc{
        height: 55px;
        font-size: 11px;
    }
    .jobs,
    .lang {
      float: none;
      margin-left: 0;
      margin-right: 0;
      padding: 5px;
    }
  
    .social ul {
      padding: 0;
    }
  }

  /* Responsive styles for 375px screen width */
@media only screen and (max-width: 375px) {
    .abc{
        height: 80px;
        font-size: 12px;
    }
    .jobs,
    .lang {
      float: none;
      margin-left: 0;
      margin-right: 0;
      padding: 5px;
    }
  
    .social ul {
      padding: 0;
    }
}

/* Responsive styles for 320px screen width */
@media only screen and (max-width: 320px) {
    .abc {
        height: 70px;
        font-size: 12px;
    }
    .jobs,
    .lang {
        padding: 3px;
    }
}


/* background image
.background{
    background-image: url('./images/unisnow1.jpg');
    margin-top: -21px;
    height: 100vh;
}*/


/* CSS Styles */
.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slideAnimation 10s infinite;
  opacity: 0; /* Hide slides by default */
}

.slide.active {
  z-index: 0; /* Set z-index to 1 for active slide */
  opacity: 1; /* Show active slide */
}

.slide-content {
  position: absolute;
  top: 20px; /* Adjust the top positioning as needed */
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 24px;
  text-align: center;
  width: 80%;
  z-index: 1; /* Place the text element above the slides */
  animation: none; /* Disable animation for the text element */
}

.slide:nth-child(1) {
  background-image: url('./images/3.png');

}

.slide:nth-child(2) {
  background-image: url('./images/2.png');

}

.slide:nth-child(3) {
  background-image: url('./images/1.png');

}


.slider-buttons {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
}


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); Adjust the opacity as needed */
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
  }
  
@media only screen and (max-width: 2560px) {
    body {
        background-position: left center;
    }
}

@media only screen and (max-width: 1920px) {
    body {
        background-position: center center;
    }
}

@media only screen and (max-width: 1280px) {
    body {
        background-position: center top;
    }
}


@media only screen and (max-width: 1024px) {
  body {
      background-position: left center;
  }
}

@media only screen and (max-width: 768px) {
  body {
      background-position: center center;
  }
}

@media only screen and (max-width: 480px) {
  body {
      background-position: center top;
  }
}

.image{
  position: relative;
  text-align: center;
  margin-top: -1%;
}

.image0{
  position: relative;
  text-align: center;
  margin-top: 0%;
}

.image0 img{
    height: 10%;
    width: 6%;
    margin-top: 0%;
    margin-right: 70%;
    position: relative;
}

  .image img {
    height: 8%;
    width: 5%;
    margin-top: -7%;
    margin-right: 58%;
    position: relative;
  }
  
  

  .location-container {
    display: flex;
    position: relative;
    font-size: 12px;
    transform: scaleX(1.3);
    float: right;
    margin-right: 19%;
    margin-top: -1%;
    cursor: pointer;
 }
 
 .location-container p a{
  color: white;
  text-decoration: none;
 }

 .location img{
  height: 60px;
  width: 65px;
  margin-top: 8%;
  margin-left: -25%;
 }


 @media only screen and (max-width: 2560px) {
  .overlay {
    background-position: center center;
  }
  .location-container{
    margin-top: 2%;
    margin-right: 5%;
  }
  .gif img{
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1700px) {
  .overlay {
      background-position: center center;
  }
  
  .location-container{
    margin-top: -4%;
    margin-right: 5%;
  }
  .gif img{
    margin-top: -5%;
  }
}

@media only screen and (max-width: 1920px) {
  .overlay{
    background-position: center top;
  }
}

@media only screen and (max-width: 1280px) {
  .overlay {
    background-position: center center;
}

.location-container{
  margin-top: -7.5%;
  margin-right: 5%;
}
}


@media only screen and (max-width: 1024px) {
  .overlay {
    background-position: center center;
}
.overlay .image0{
  margin-left: -12%;
}
.overlay .image{
  margin-left: -12%;
}
.location-container{
  font-size: 10px;
  position: relative;
  margin-top: -10%;
  margin-right: 0%;
}
.gif img{
  margin-top: -15%;
  margin-left: -15%;
}
}

@media only screen and (max-width: 768px) {
.overlay {
    background-position: center center;
}
.overlay .image0{
  margin-left: -14%;
}
.overlay .image{
  margin-left: -14%;
}

.location-container{
  font-size: 10px;
  margin-top: -11.5%;
  margin-right: -2%;
}
}

@media only screen and (max-width: 425px) {
.overlay {
  background-position: center center;
}
.overlay .image0{
  float: center;
  height: 60%;
  width: 320%;
  margin-left: -8%;
}
.overlay .image{
  float: center;
  height: 130%;
  width: 400%;
  margin-top: -117.5%;
  margin-left: -25%;
}
}
 
.navbar {
  margin-top: 5%;
  padding: 10px;
  position: relative;
  font-size: 13px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}

.navbar-list li{
  border: 2px solid transparent; /* Start with a transparent border */
  padding: 10px;
  transition: border 0.3s ease;
  font-weight: bold;
}

.navbar li:hover{
  border: 1px solid #f0f5ff;
  background-color: #722ed1;
}



.navbar-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.navbar-item1 a {  /* for home icon */
  color: #333;
  text-decoration: none;
}

.navbar-item ul:hover .container ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-icon {
  margin-left: auto;
}

.search-icon a {
  color: #333;
}

.navbar ul{
color: white;
}



/* CSS for the container */
.container {
  display: none;
  width: 71.4%; /* Set your desired max width */
  margin: 10px; /* Center the container horizontally */
  padding: 20px; /* Add some padding to the container */
  margin-top: -0.9%;
  margin-left: 15%;
  background-image: url('./images/background.jpeg');
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

/* CSS for the row */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.p-3{
  text-align:center;
  color: white;
  padding: 5px; /* Set your desired padding value */
  background-color: #722ed1; /* Just for visualization */
  border: 1px solid #ccc; /* Just for visualization */
}



/* CSS for the columns */
.col {
  flex: 1; /* Let columns grow to fill available space */
  max-width: 250px; /* Set your desired max width for columns */
  min-width: 150px; /* Set your desired min width for columns */
  margin: 30px; /* Add some margin between columns */
}

.col ul li{
  list-style: none;
  padding: 100px;
  margin: 0;
}


/* CSS for the container and other styles (assuming you already have this) */

/* CSS for the submenu */
.container {
  display: none; /* Hide the submenu by default */
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1; /* Ensure the submenu appears above other elements */
}

/* Show the submenu on hover */
.navbar-item:hover .container {
  display: block;
}

/* Add some styles to format the submenu items */
.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px solid transparent; /* Start with a transparent border */
  transition: border 0.3s ease; /* Add a transition effect for smooth hover */
}

.container ul li {
  padding: 5px 0;
  color: black;
}

.container ul:hover {
  border: 2px solid #722ed1;
}

.container ul li:hover {
  color: #722ed1;
  background-color: #fafafa;
}


.navbar ul li:hover .container {
  display: block;
}

.navbar ul li:hover .container ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar ul li:hover .container ul li {
  width: 100%;
  padding: 5px;
  border-bottom: 1px dotted white;
  text-align: left;
}

.navbar ul li:hover .container ul li:last-child {
  border-bottom: none;
}

.navbar ul li:hover .container ul li a:hover {
  color: black;
}


/* Set scrollbar styles for WebKit-based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: gray;
}

::-webkit-scrollbar-thumb {
  background-color: #722ed1;
  border-radius: 6px;
}

.navbar-item1:hover .container {
  display: block;
  width: 30%;
  margin-left: 37%;
}

.navbar-item2:hover .container {
  display: block;
  width: 30.4%;
  margin-left: 47.3%;
}

.navbar-item3:hover .container {
  display: block;
  width: 26%;
  margin-left: 57.9%;
}

.navbar-item4:hover .container {
  display: block;
  width: 17%;
  margin-left: 68.8%;
  padding: 0.5%;
}

/* Responsive styles for 1366px screen width */
@media only screen and (min-width: 1153px) and (max-width: 1439px) {
  .navbar {
    margin-top: 7%;
    padding: 12px;
    position: relative;
    font-size: 12px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
  }

  .navbar-list li {
    margin: -5%;
    padding: 0.7%;
  }

  
  .location-container{
    font-size: 14px;
    margin-top: -5%;
    margin-left: 0%;
  }

  .gif img{
    margin-left: 0%;
    margin-top: 100%;
  }
}

/* Responsive styles for 1920px screen width */
@media only screen and (min-width: 1800px) and (max-width: 2150px) {
  .navbar {
    margin-top: 7%;
    padding: 12px;
    position: relative;
    font-size: 14px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
  }

  .navbar-list li {
    margin: -5%;
    padding: 0.7%;
  }
  
  .location-container{
    font-size: 14px;
    margin-top: 0%;
    margin-left: 0%;
  }

  .gif img{
    margin-left: 0%;
    margin-top: 1%;
  }
  .container{
    margin-top: -0.41%;
  }
}

/* Responsive styles for 1024px screen width */
@media only screen and (min-width: 897px) and (max-width: 1152px) {
  .navbar {
    font-size: 9px;
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

  .navbar-list li {
    margin: -5%;
    padding: 0.9%;

  }
  
}

/* Responsive styles for 768px screen width */
@media only screen and (min-width: 768px) and (max-width: 896px) {
  .navbar {
    font-size: 7px;
    display: flex;
    justify-content: center;
    margin-top: 12%;
  }

  .navbar-list li {
    margin: -5%;
    padding: 0%;

  }
  .location-container{
    font-size: 9px;
    margin-top: -17%;
  }
  .gif img{
    margin-top: -25%;
    width: 10%;
  }
}

/* Responsive styles for 425px screen width */
@media only screen and (max-width: 425px) {
  
}

/* Responsive styles for 375px screen width */
@media only screen and (max-width: 375px) {
  
}

/* Responsive styles for 320px screen width */
@media only screen and (max-width: 320px) {
  
}